body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
padding: 5px 30px;
display: flex;
background-color: beige;
width: 450px;
height: 250px;
margin: 20px auto;
justify-content: space-around;
border-bottom: 7px solid rgb(108, 96, 96);
}

img{

    width: 200px;
    height: 230px;
    margin: auto 0;
}
.me{
    text-shadow: 2px 2px 5px red;
    margin: auto 0px;

}
.me:hover{
    border: 2px solid blue;

}
